MONGO_URI=mongodb://<usuario>:<password>@ac-jvzi5oz-shard-00-00.fhionxu.mongodb.net:27017,ac-jvzi5oz-shard-00-01.fhionxu.mongodb.net:27017,ac-jvzi5oz-shard-00-02.fhionxu.mongodb.net:27017/?ssl=true&replicaSet=atlas-gu3din-shard-0&authSource=admin&appName=Cluster0&compressors=zlib
MONGO_DB=biooptimization
MONGO_COLLECTION=runs
